body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(black,rgb(88, 87, 87));
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4,100px); /* Adjust 100px if needed */
    gap: 10px;
}





@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(4,100px); 
    }
}

@media (max-width: 468px) {
    .wrapper {
        grid-template-columns: repeat(3,100px); 
    }
}
@media (max-width : 370px){
    .wrapper {
        grid-template-columns: repeat(1,100px);
    }
}





.card {
    width: 100px;
    height: 100px;
    position: relative;
    opacity: 0; 
    animation: dropAnimationCard 0.5s ease-out forwards;
    animation-delay: calc(0.1s * var(--index)); 
}

@keyframes dropAnimationCard {
    0% {
        transform: translateY(-100%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* backface visibilty determines wheter the back side of an element is visoble r not when it is rotated */
    backface-visibility: hidden;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
}

.card .front {
    background-color: grey;
}

.card .back {
    background-color: green;
    transform: rotateY(180deg);
}

.card.flip .front {
    transform: rotateY(180deg);
}

.card.flip .back {
    transform: rotateY(0);
}

#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
} 


.win-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: none; 
    opacity: 0;
}


@keyframes winAnimation {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.win-message.show {
    display: block; 
    animation: winAnimation 1.5s ease-out forwards; 
}


